# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/

# Database & Secrets (Sangat Penting!)
db.sqlite3
.env
*.local

# Media & Static folders (jika di-generate lokal)
/media/
/staticfiles/